*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
header{
    display: flex;
    width: 90%;
    height: 15vh;
    margin: auto;
    align-items: center;
    

}
.logo-container,.nav-links,.carts{
    display: flex;
}
.logo-container{
    flex: 1;
}
.logo{
    font-weight: 400;
    margin: 10px;
}
nav{
    flex: 2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
    
}
.nav-link{
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}
.carts{
    flex: 1;
    justify-content: end;
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
   
    flex: 1;

}
.into-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right,#494964,#6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.into-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
   border: 3px solid #c36cbb;
   background: transparent;
   color: #c36cbb ;
   width: 150px;
   height: 50px;
   cursor: pointer;
   border-radius: 9px;
}
.cover img{
    height: 60vh;
}