*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
header{
    display: flex;
    background: #8d8d92;
    width: 90%;
    height: 15vh;
    margin: auto;
    align-items: center;
    

}
.logo-container{
    background: lightblue;
    flex: 1;
}
nav{
    background: #667761;
    flex: 2;
}
.carts{
    background: #840804;
    flex: 1;
}